html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
}

/* #5B3833 text color */
/* #dfdff3 bg */
/* #3D3D3D */

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  background-color: #dfdff3;
}

.inspiration {
  padding-right: 1rem;
}
.card-1 {
  width: 60%;
  transform: translate(10rem, 1rem);
}
.card-2 {
  width: 60%;
  transform: translate(1rem, -5rem);
}
.card-3 {
  width: 60%;
  transform: translate(20rem, -26rem);
}
@media only screen and (max-width: 1295px) {
  .card-1 {
    width: 60%;
    transform: translate(6rem, 7rem);
  }
  .card-2 {
    width: 60%;
    transform: translate(-4rem, -2rem);
  }
  .card-3 {
    width: 60%;
    transform: translate(13rem, -17rem);
  }
}
.passion .card-image span {
  text-shadow: 0 0.2rem 0.6rem #0e0e0e;
}
